html {
  box-sizing: border-box;
 
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body, section, h3, span, p {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  background: linear-gradient(to bottom, pink,lightblue );
  font-family: Arial, sans-serif;
  position: relative;
}

.weather-details {
  position: relative;
  top: 3em;
  width: 550px;
  height: 260px;
  margin: 0 auto;
  
}

.weather-head {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color:hotpink;
  width: 100%;
  padding: 7px 8px;
  height: 38px;
}

.weather-head h3 {
  margin: 0;
  padding-left: 10px;
  color: white;
  font-weight: 400;
  font-size: 1.1em;
  display: inline-block;
}

#units {
  float: right;
  font-size: 1.1em;
  border-radius: 50%;
  box-shadow: 0px 1px 3px #807833;
  text-align: center;
  color: white;
  display: inline-block;
  cursor: pointer;
  height: 26px;
  width: 26px;
  line-height: 24px;
}

#units:active {
  background-color: white;
  box-shadow: 0px -1px 3px #807833;
}

#units:hover {
  background-color: grey;
}

.weather-head:after {
  content: "";
  clear: both;
}

.weather-now {
  width: 100%;
  height: 92px;
  background-color: grey;
  display: flex;
  align-items: center;
  justify-content: center;
}

.weather-now img {
  margin: 0 1em;
}

.weather-now p {
  color: #fff;
}

#degree-today {
  font-size: 3em;
  margin-right: 0.5em;
}

.weather-forcast {
  width: 100%;
  height: 50%;
  background-color:#4db8ff;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  display: flex;
  overflow: hidden;
}

.forcast-day {
  display: flex;
  flex-direction: column;
  width: 20%;
  align-items: center;
  border-right: 1px solid white;
  padding-top: 0.5em;
}

.weather-forcast .forcast-day:last-child {
  border-right: none;
}

.forcast-day p {
  color: #fff;
}

.daily-temp {
  align-self: stretch;
  display: flex;
  justify-content: space-around;
  padding: 0 3px;
}

.hidden {
  display: none;
}

@media screen and (max-width:600px) {
  .weather-details {
    width: 80%;
    height: 420px;
  }
  
  #degree-today {
    font-size: 2.5em;
    margin-right: 0.3em;
  }
  
  .weather-now img {
    margin-left: 0.3em;
    margin-right: 0.5em;
  }
  
  .forcast-day {
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
  }
  
  .weather-forcast {
    flex-direction: column;
    align-content: space-around;
    height: 290px;
  }
  
  .daily-temp {
    align-self: center;
    width: 40%;
  }
}